@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --grey-1: 245 245 245;
  --grey-2: 234 234 234;
  --grey-3: 153 153 153;
  --grey-4: 136 136 136;
  --grey-5: 102 102 102;
  --grey-6: 68 68 68;
  --grey-7: 51 51 51;
  --grey-8: 17 17 17;
  --foreground: 0 0 0;
  --primary: 34 211 238;
  --primary-lighter: 165 243 252;
}

.dark {
  --background: 0 0 0;
  --grey-1: 17 17 17;
  --grey-2: 51 51 51;
  --grey-3: 68 68 68;
  --grey-4: 102 102 102;
  --grey-5: 136 136 136;
  --grey-6: 153 153 153;
  --grey-7: 234 234 234;
  --grey-8: 245 245 245;
  --foreground: 255 255 255;
  --primary: 34 211 238;
  --primary-lighter: 165 243 252;
}

body {
  @apply bg-background text-foreground;
  @apply transition-colors duration-150;
}

.container {
  @apply mx-auto max-w-4xl px-4 sm:px-6 lg:px-8;
}
